<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Paper Dashboard by Creative Tim</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'
	name='viewport' />
<meta name="viewport" content="width=device-width" />

<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}" />
<link rel="icon" type="image/png" sizes="96x96"
	th:href="@{/assets/img/favicon.png}" />
<!-- Bootstrap core CSS     -->
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />

<!-- Animation library for notifications   -->
<link th:href="@{/assets/css/animate.min.css}" rel="stylesheet" />

<!--  Paper Dashboard core CSS    -->
<link th:href="@{/assets/css/paper-dashboard.css}" rel="stylesheet" />

<link th:href="@{/assets/css/themify-icons.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/js/jquery-3.1.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/pagination/laypage.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.lazyload.js}"></script>
</head>
<body>

	<div class="wrapper">
		<div class="sidebar" data-background-color="white"
			data-active-color="danger">

			<!--
		Tip 1: you can change the color of the sidebar's background using: data-background-color="white | black"
		Tip 2: you can change the color of the active button using the data-active-color="primary | info | success | warning | danger"
	-->

			<div class="sidebar-wrapper">
				<div class="logo">
					<a href="#" class="simple-text"> Creative Tim </a>
				</div>

				<ul class="nav">
					<li><a href="dashboard.html"> <i class="ti-panel"></i>
							<p>Dashboard</p>
					</a></li>
					<li><a href="user.html"> <i class="ti-user"></i>
							<p>User Profile</p>
					</a></li>
					<li class="active"><a href="table.html"> <i
							class="ti-view-list-alt"></i>
							<p>Table List</p>
					</a></li>
					<li><a href="typography.html"> <i class="ti-text"></i>
							<p>Typography</p>
					</a></li>
					<li><a href="icons.html"> <i class="ti-pencil-alt2"></i>
							<p>Icons</p>
					</a></li>
					<li><a href="maps.html"> <i class="ti-map"></i>
							<p>Maps</p>
					</a></li>
					<li><a href="notifications.html"> <i class="ti-bell"></i>
							<p>Notifications</p>
					</a></li>
					<li class="active-pro"><a href="upgrade.html"> <i
							class="ti-export"></i>
							<p>Upgrade to PRO</p>
					</a></li>
				</ul>
			</div>
		</div>

		<div class="main-panel">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar bar1"></span> <span class="icon-bar bar2"></span>
							<span class="icon-bar bar3"></span>
						</button>
						<a class="navbar-brand" href="#">Show Girl</a>
					</div>
					<div class="collapse navbar-collapse">
						<ul class="nav navbar-nav navbar-right">
							<li><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> <i class="ti-panel"></i>
									<p>Stats</p>
							</a></li>
							<li class="dropdown"><a href="#" class="dropdown-toggle"
								data-toggle="dropdown"> <i class="ti-bell"></i>
									<p class="notification">5</p>
									<p>Notifications</p> <b class="caret"></b>
							</a>
								<ul class="dropdown-menu">
									<li><a href="#">Notification 1</a></li>
									<li><a href="#">Notification 2</a></li>
									<li><a href="#">Notification 3</a></li>
									<li><a href="#">Notification 4</a></li>
									<li><a href="#">Another notification</a></li>
								</ul></li>
							<li><a href="#"> <i class="ti-settings"></i>
									<p>Settings</p>
							</a></li>
						</ul>

					</div>
				</div>
			</nav>
			<div class="content">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-12">
							<div class="card">
								<div class="header">
									<h4 class="title">用户列表</h4>
									<p class="category">Here is a subtitle for this table</p>
								</div>
								<div class="content table-responsive table-full-width">
									<table class="table table-striped">
										<thead>
											<th>ID</th>
											<th>Name</th>
											<th>photo</th>
										</thead>
										<tbody id="content_data">
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			
			<div class="pages-bar">
				<div id="pager" class="pager-list"></div>
			</div>
			
			<footer class="footer">
				<div class="container-fluid">
					<nav class="pull-left">
						<ul>

							<li><a href="#"> Creative Tim </a></li>
							<li><a href="http://blog.creative-tim.com"> Blog </a></li>
							<li><a href="#/license"> Licenses </a></li>
						</ul>
					</nav>
					<div class="copyright pull-right">
						&copy;
						<script>
							document.write(new Date().getFullYear())
						</script>
						, made with <i class="fa fa-heart heart"></i> by <a href="#">Creative
							Tim</a>. More Templates <a href="http://www.cssmoban.com/"
							target="_blank" title="模板之家">模板之家</a> - Collect from <a
							href="http://www.cssmoban.com/" title="网页模板" target="_blank">网页模板</a>
					</div>
				</div>
			</footer>


		</div>
	</div>


</body>
<script th:inline="javascript">
	$(function(){
		getUsersData(1);
		$("img.lazy").show().lazyload({
		    threshold : 200,//设置 threshold 为 200 令图片在距离屏幕 200 像素时提前加载.
		    effect : "fadeIn"
		});
	})
	
 function getUsersData(curr){
	var data={};
	var url=[[@{/admin/user/getUsersData}]];
	data.pageNum=curr?curr:1;
	data.pageSize=3;
	data.keyWord="xx";
	var contentHtml="";
	$.post(url,data,function(result){
		laypage({
			cont : 'pager',
			pages : result.pages,
			total :result.total,
			curr : curr || 1,
			skip : true, //是否开启跳页
			skin : '#fec053',
			groups : 4, //连续显示分页数
			jump : function(obj, first) { //触发分页后的回调
				if (!first) { //点击跳页触发函数自身，并传递当前页：obj.curr
					getUsersData(obj.curr);
				}
			}
		})

		if(result.list.length>0){
			$.each(result.list,function(index,item){	
				var userId=item.id;
			if(userId.length>3){
				userId=userId.substr(0,5);
			}
				contentHtml+='<tr>';
				contentHtml+='<td>'+userId+'</td>';
				contentHtml+='<td>'+item.username+'</td>';
				/* contentHtml+='<td>'+(null==item.coverImg?"":item.coverImg)+'</td>'; */
				var coverImg='<img src="https://www.baidu.com/img/baidu_jgylogo3.gif"/>';
				if(null!=item.coverImg){
					coverImg='<img src="'+item.coverImg+'" height="67px" width="137px" class="lazy"/>';
				}
				contentHtml+='<td>'+coverImg+'</td>';
				contentHtml+='</tr>';
			})
			$("#content_data").html(contentHtml);
		}
		
	})
} 	
</script>
</html>
