<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.switch007.dao.UserMapper">
	<resultMap id="BaseResultMap" type="com.switch007.model.User">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="username" jdbcType="VARCHAR" property="username" />
		<result column="password" jdbcType="VARCHAR" property="password" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="last_login_ip" jdbcType="VARCHAR" property="lastLoginIp" />
		<result column="cover_img" jdbcType="VARCHAR" property="coverImg" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="phone" jdbcType="VARCHAR" property="phone" />
		<result column="last_send_mail_time" jdbcType="TIMESTAMP"
			property="lastSendMailTime" />
		<result column="forbid_time" jdbcType="TIMESTAMP" property="forbidTime" />
		<result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
		<result column="modify_date" jdbcType="TIMESTAMP" property="modifyDate" />
	</resultMap>
	<sql id="Base_Column_List">
		id, username, password, status, last_login_ip, cover_img, address, phone,
		last_send_mail_time,
		forbid_time, create_date, modify_date
	</sql>
	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from t_user_info
		where id = #{id,jdbcType=VARCHAR}
	</select>
	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from t_user_info
		where id = #{id,jdbcType=VARCHAR}
	</delete>
	<insert id="insert" parameterType="com.switch007.model.User">
		insert into t_user_info (id, username, password,
		status, last_login_ip, cover_img,
		address, phone, last_send_mail_time,
		forbid_time, create_date, modify_date
		)
		values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR},
		#{password,jdbcType=VARCHAR},
		#{status,jdbcType=INTEGER}, #{lastLoginIp,jdbcType=VARCHAR}, #{coverImg,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR},
		#{lastSendMailTime,jdbcType=TIMESTAMP},
		#{forbidTime,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP},
		#{modifyDate,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.switch007.model.User">
		insert into t_user_info
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="password != null">
				password,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="lastLoginIp != null">
				last_login_ip,
			</if>
			<if test="coverImg != null">
				cover_img,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="phone != null">
				phone,
			</if>
			<if test="lastSendMailTime != null">
				last_send_mail_time,
			</if>
			<if test="forbidTime != null">
				forbid_time,
			</if>
			<if test="createDate != null">
				create_date,
			</if>
			<if test="modifyDate != null">
				modify_date,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				#{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="lastLoginIp != null">
				#{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="coverImg != null">
				#{coverImg,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				#{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastSendMailTime != null">
				#{lastSendMailTime,jdbcType=TIMESTAMP},
			</if>
			<if test="forbidTime != null">
				#{forbidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createDate != null">
				#{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				#{modifyDate,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>
	<update id="updateByPrimaryKeySelective" parameterType="com.switch007.model.User">
		update t_user_info
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="password != null">
				password = #{password,jdbcType=VARCHAR},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="lastLoginIp != null">
				last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
			</if>
			<if test="coverImg != null">
				cover_img = #{coverImg,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				phone = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="lastSendMailTime != null">
				last_send_mail_time = #{lastSendMailTime,jdbcType=TIMESTAMP},
			</if>
			<if test="forbidTime != null">
				forbid_time = #{forbidTime,jdbcType=TIMESTAMP},
			</if>
			<if test="createDate != null">
				create_date = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="modifyDate != null">
				modify_date = #{modifyDate,jdbcType=TIMESTAMP},
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<update id="updateByPrimaryKey" parameterType="com.switch007.model.User">
		update t_user_info
		set username = #{username,jdbcType=VARCHAR},
		password = #{password,jdbcType=VARCHAR},
		status = #{status,jdbcType=INTEGER},
		last_login_ip = #{lastLoginIp,jdbcType=VARCHAR},
		cover_img = #{coverImg,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		phone = #{phone,jdbcType=VARCHAR},
		last_send_mail_time = #{lastSendMailTime,jdbcType=TIMESTAMP},
		forbid_time = #{forbidTime,jdbcType=TIMESTAMP},
		create_date = #{createDate,jdbcType=TIMESTAMP},
		modify_date = #{modifyDate,jdbcType=TIMESTAMP}
		where id = #{id,jdbcType=VARCHAR}
	</update>
	<select id="selectByMap" parameterType="map" resultType="com.switch007.model.User">
		select
		<include refid="Base_Column_List" />
		from t_user_info
	</select>
	
	
	<select id="selectByFiled" parameterType="map" resultType="com.switch007.model.User" statementType="STATEMENT">
	select 
	<include refid="Base_Column_List" /> 
	from t_user_info
	<where>
		<if test="filed != null">
		    ${filed}=${value}
		</if>
	</where>
	
	</select>
	
</mapper>